<section class="value-perception">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="section-headings">
        <h1>Help Improve Medical Customer Service</h1>
        <h5>MedEviews helps new patients who are seeking medical services, both domestic and internationally.</h5>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="value-perception__content-wrapper">
      <ion-col class="value-perception__content-wrapper__col-1">
        <div>
          <h2 class="heading-tertiary">
            Your previous medical experience is important to someone in our community.
          </h2>
          <p class="paragraph">
            Bringing awareness to
            <span style="color: green">great</span>,
            <span style="color: dodgerblue">average</span> or
            <span style="color: red">bad</span> medical services is imperative to your safety.<br/><br/>
          </p>
          <p class="paragraph">
            Providing potential patients with insight to medical provider practices, can potentially save lives.
          </p>
        </div>
      </ion-col>
      <ion-col class="value-perception__content-wrapper__col-2">
        <div>
          <ion-img [src]="imgRight"></ion-img>
        </div>
      </ion-col>
    </ion-card-content>
  </ion-card>
</section>
